# Server
NODE_ENV=development
PORT=3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://rumjotsingh12345_db_user:Jz2fNxjC5D6cnzsR@leetcode.mlffibd.mongodb.net/

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_ACCESS_SECRET=your-access-token-secret-min-32-chars
JWT_REFRESH_SECRET=your-refresh-token-secret-min-32-chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Code Execution Service
EXECUTION_API_URL=https://api.rumjot.me
EXECUTION_API_TOKEN=12b672a9dda959184597608f096064edf1116bd6278499fb47794905377fe59c

# CORS
CORS_ORIGIN=http://localhost:3001

# Cache TTL (seconds)
CACHE_TTL_PROBLEMS=300
CACHE_TTL_PROBLEM_DETAIL=600
CACHE_TTL_USER_PROFILE=300


